@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .header-title h1 {
        font-size: 24px;
    }

    .our-dogs ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .our-dogs ul li {
        width:40%;
        margin-bottom: 10px;
    }

    .helpNeed ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .helpNeed li {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact p:nth-child(3) {
        width: 100%;
    }
}
